{% extends 'index.html' %}

{% load static %}
{% block content %}


{% load crispy_forms_tags %}

    {% if page == 'deleteCategory' %}

        <div class="text-center mt-5">
            <div class="m-3">
                <h2>Are You Sure You WAnt To Delete "{{obj.name |title}}" ? </h2>
                <span>Please Note: All Memories associted with it will be deleted. </span>
            </div> 

            <form action="" method="POST">
                {% csrf_token %}

                <button class="btn btn-outline-danger" type="submit">Yes, Please Delete</button>
            </form>
        
            <a href=" {% url 'memoryGallery' %} " class="btn btn-outline-success mt-2">Go Back</a>   
        </div>

    {% elif page == "update" %}

        <div class="container m-5">
            <div class="row">
                <div class="col"></div>

                <div class="col-sm-12 col-md-6">
                <h3 class="text-center mt-3">Update Memory</h3> <hr>

                    <div class="mt-2">
                        <form method="POST"  enctype="multipart/form-data" >

                        {% csrf_token %}
                        {{ form |crispy }}

                        <button class="btn btn-success mt-2" type="submit"> Update Memory </button>
                        </form><hr>
                    </div> <br>
                    <a  class="btn btn-outline-success" href=" {% url 'memoryGallery'  %} ">Go Back</a>

                </div>
                <div class="col"></div>
            </div>
        </div>   
    
    {% else %}

        <div class="text-center mt-5">
            <div class="m-3">
                <h2>Are You Sure You Want To Delete "{{obj.title}}" ? </h2>
            </div>

            <form action="" method="POST">
                {% csrf_token %}

                <button class="btn btn-outline-danger" type="submit">Yes, Please Delete</button>
            </form>
        
            <a href=" {% url 'memoryGallery' %} " class="btn btn-outline-success mt-2">Go Back</a>    
        </div>

    {% endif %} 

{% endblock content %}